body {
	margin:0px;
	background:#000;
	font-family:'Yu Gothic','Meiryo UI','Meiryo',sans-serif;
}

span {
	color:#FFF; 
}

#stdio {
	position: absolute;
	top: 43px;
	bottom: 0px;
	right: 0px;
	width: 300px;
}

#stdin {
	height: 50%;
}

#stdout {
	height: 50%;
}

#toolbar {
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 3px solid #515151;
}

#toolbar span {
	font-size:10px;
}

#progressbar {
    width: 0%;
    height: 3px;
    background: #03A9F4;
	transition: width 1s ease-in-out; 
}

#run {
	background: #03A9F4;
	border: 0px;
	height: 40px;
	width: 40px;
	color: #FFF;
	border-radius: 0px;
}

.running {
	background: #F00!important;
}

#language-select {
	height: 40px;
	background: #333;
	border: 0px;
	color: #FFF;
}
#editor {
	position:absolute;
	top:43px;
	bottom:0px;
	left:0px;
	right:300px;
}

footer {
	width:100%;
	border-top:1px solid #888;
	padding: 3px 15px;
    position: fixed;
    bottom: 0px;
    z-index: 4;
    background: #424242;
}

input {
	background: #666;
    border: 1px inset #00445D;
}

input:focus , input:hover {
	border: 1px inset #00aeef;
	background: #777;
}

#build-tag {
	background: #235770;
    padding: 3px 7px;
    border-radius: 3px;
    color: #cdcdcd;
}

#modify-tag {
	background: #2f7023;
    padding: 3px 7px;
    border-radius: 3px;
    color: #cdcdcd;
}

#warning-tag {
	background: #970000;
    padding: 3px 7px;
    border-radius: 3px;
    color: #cdcdcd;
}

.hidden {
	display: none;
}
