body {
	margin:0px;
	background:#000;
	font-family:'Yu Gothic','Meiryo UI','Meiryo',sans-serif;
}

span {
	color:#FFF; 
}

#editor {
	position:absolute;
	top:10px;
	bottom:0px;
	left:0px;
	right:0px;
}

footer {
	width:100%;
	border-top:1px solid #888;
	padding: 3px 15px;
    position: fixed;
    bottom: 0px;
    z-index: 4;
    background: #424242;
}

input {
	background: #666;
    border: 1px inset #00445D;
}

input:focus , input:hover {
	border: 1px inset #00aeef;
	background: #777;
}
