body {
	margin:0px;
	background:#101010;
	font-family:'Yu Gothic','Meiryo UI','Meiryo',sans-serif;
}

#toolbar span {
	color:#FFF; 
}

#stdio {
	position: relative;
	width: calc(30% - 1.5px);
	height: calc(100vh - 43px);
	float: right;
}

#stdin {
	height: 50%;
}

#stdout {
	height: 50%;
}

#toolbar {
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 3px solid #515151;
}

#toolbar span {
	font-size:10px;
}

#progressbar {
    width: 0%;
    height: 3px;
    background: #03A9F4;
	transition: width 1s ease-in-out, opacity 0.5s ease-in-out 1s; 
}

#run {
	background: #03A9F4;
	border: 0px;
	height: 40px;
	width: 40px;
	color: #FFF;
	border-radius: 0px;
}

.running {
	background: #F00!important;
}

#language-select {
	height: 40px;
	background: #333333c9;
	border: 0px;
	color: #FFF;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 25px 0 5px;
    position: relative;
    z-index: 1;
}

.selectWrap{
	background: #333;
    position: relative;
    display: inline-block;
}
.selectWrap::before{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    background: #3c3c3c;
    height: 100%;
    width: 20px;
}
.selectWrap::after{
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
}


#editor {
	position: relative;
	width: calc(70% - 1.5px);
	height: calc(100vh - 43px);
	float: left;
}

#separator {
	cursor: col-resize;
	background: #888;
	width: 3px;
	height: calc(100vh - 43px);
	float: left;
}

footer {
	width:100%;
	border-top:1px solid #888;
	padding: 3px 15px;
    position: fixed;
    bottom: 0px;
    z-index: 4;
    background: #424242;
}

input {
	background: #666;
    border: 1px inset #00445D;
}

input:focus , input:hover {
	border: 1px inset #00aeef;
	background: #777;
}

#build-tag {
	background: #235770;
    padding: 3px 7px;
    border-radius: 3px;
    color: #cdcdcd;
}

#modify-tag {
	background: #2f7023;
    padding: 3px 7px;
    border-radius: 3px;
    color: #cdcdcd;
}

#warning-tag {
	background: #970000;
    padding: 3px 7px;
    border-radius: 3px;
    color: #cdcdcd;
}

.tag2 {
	font-size: 10px;
	background: #595959;
    color: #cdcdcd;
	display: inline-block;
	border-radius: 3px;
	padding: 3px 0px 3px 7px;
}

.tag2 > .text {
	padding: 3px 7px;
	background: #404140;
	border-radius: 0px 3px 3px 0px;
	margin-left: 3px;
}

#last-session-tag {
	cursor: pointer;
}

#last-session-tag:hover {
	opacity: 0.8;
}

.hidden {
	display: none!important;
}

#loading {
	color:#FFF; 
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #515151;
	z-index: 10;
	transition: opacity 2s ease-in-out;
}

#logo {
	background: #FFF;
	width: 200px;
	height: 200px;
	margin: 0px auto;
	display: block;
	top: 50%;
	position: absolute;
	left: 50%;
	margin: -100px 0 0 -100px;
	border: 1px solid #6e6b6b;
	border-radius: 30px;
	overflow: hidden;
	opacity: 0.9;
	animation: show 2s ease-in-out 0s 1 none running;
}

#logo > div{
	position: absolute;
	opacity: 0.9;
	animation: horizontal 2s ease-in-out 0s infinite alternate running;
	display: block;
	width: 200px;
	height: 200px;
}
#logo > div:nth-child(1) {
	animation-duration: 2.2s;
}
#logo > div:nth-child(2) {
	animation-duration: 2.4s;
}
#logo > div:nth-child(3) {
	animation-duration: 2.6s;
}

#logo > div > div {
	position: absolute;
	animation: vertical 3s ease-in-out 0s infinite alternate running;
	display: block;
	width: 200px;
	height: 200px;
}
#logo > div:nth-child(1) > div{
	animation-duration: 3.2s;
}
#logo > div:nth-child(2) > div{
	animation-duration: 4.8s;
}
#logo > div:nth-child(3) > div{
	animation-duration: 4.2s;
}

#logo > div > div > div {
	position: absolute;
	animation: rotation 6s ease-in-out 0s infinite none running;
	display: block;
	width: 200px;
	height: 200px;
}
#logo > div:nth-child(1) > div > div{
	animation-duration: 6.2s;
}
#logo > div:nth-child(2) > div > div{
	animation-duration: 7.8s;
}
#logo > div:nth-child(3) > div > div{
	animation-duration: 7.2s;
}



#logo1 > div > div > div {
	width: 300px;
    height: 100px;
    background: #ff02ac80;
    position: absolute;
    top: -18px;
    transform: rotate(30deg);
	border: 1px solid #ff008780;
}

#logo2 > div > div > div{
	width: 300px;
	height: 100px;
	background: #f0ff0280;
	position: absolute;
	bottom: -18px;
	transform: rotate(-30deg);
	border: 1px solid #c0cb1b;
}
#logo3 > div > div > div{
	width: 350px;
	height: 100px;
	background: #02d2ff80;
	position: absolute;
	transform: rotate(90deg);
	right: 18px;
	border: 1px solid #01a9bd;
}
@keyframes rotation {
	0% { transform:rotate(0deg); }
	33% { transform:rotate(3deg); }
	66% { transform:rotate(-3deg); }
	100% { transform:rotate(0deg); }
}
@keyframes horizontal {
    0% { transform:translateX( -3px); }
  100% { transform:translateX(  0px); }
}
@keyframes vertical {
    0% { transform:translateY(-10px); }
  100% { transform:translateY(  0px); }
}

#loading > span {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	margin-top: 140px;
	font-size: x-large;
	animation: show 2s ease-in-out 0s 1 none running;
}
@keyframes show {
	0% { opacity: 0 };
	100% { opacity: 0.9 };
}

#modal-wrap {
	background: #595959cc;
	display: block;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: opacity 1s;
}

#modal {
	display: block;
	width: 600px;
	height: 400px;
	background: #292828;
	border: 1px solid #5fbcc8;
	margin: 0px auto;
	top: 50%;
	position: relative;
	box-shadow: 0px 0px 5px #5fbcc8;
	margin-top: -200px;
}

#confirmer {
	display: block;
	width: 100%;
	height: 320px;
}

#confirmer-language-tag {
	background: #05b638;
}

#modal .header {
	height: 39px;
	border-bottom: 1px solid #535050;
}

#modal .footer {
	height: 39px;
	border-top: 1px solid #535050;
	text-align: right;
}

#btn-cancel {
	background: #4b4b4b;
	border: 1px solid #bcbcbc;
	height: 25px;
	color: #FFF;
	border-radius: 0px;
	margin: 6.5px;
	transition: background 0.2s;
}

#btn-cancel:hover {
	background: #afb6b7;
}

#btn-recover {
	background: #4b4b4b;
	border: 1px solid #5fbcc8;
	height: 25px;
	color: #FFF;
	border-radius: 0px;
	margin: 6.5px;
	transition: background 0.2s;
}

#btn-recover:hover {
	background: #5fbcc8;
}
